*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fbfef9;
}

body > * {
    margin-bottom: 100px;
}

h1 {
    font-size: 4em;
    color: #191923;
}

.side {
    position: relative;
    height: 200px;
    width: 200px;
    border: 2px solid #000000;
    border-radius: 6px;

    font-size: 10em;
    text-align: center;
}

button {
    font-size: 45px;
    padding: 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #fbfef9;
    background-color: #bf1363;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

img {
    position: absolute;
    left: -2px;
    bottom: -2px;
    height: 200px;
    width: 200px;
}

.result {
    box-shadow: 0px 0px 50px 0px #f39237;
    transition: 0.3s all ease;
}

.result-one {
    box-shadow: 0px 0px 30px 0px #ff0000;
}