*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > * {
    margin-bottom: 30px;
}

h1 {
    font-size: 4em;
}

.side {
    height: 200px;
    width: 200px;
    border: 5px solid #000000;

    font-size: 10em;
    text-align: center;
}

button {
    font-size: 45px;
    padding: 10px;
}

